body{
    background-color: lightblue;
    margin: 0;
}

.grid {
    display: flex;

  }

.header {
    background: linear-gradient(to right, lightblue, rgb(1, 1, 143), #00008B );
    text-align: center;
    color: white;
    /* border-radius: 5px; */
    width: 100%;
}


/* input */
.input{
    /* border: 1px solid black; */
    /* display:grid; */
    width: 25%;
    margin: 1px;
    padding: 15px;
    height: 350px;
}

/* search section */
#search-header {
    text-align: center;
}

#search-bar {
    font-size: 20px;
    width: 95%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: solid #00008B;
    border-radius: 10px;
}

#search-button {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    display: block;
    border-radius: 10px;
    color: white;
    background-color: #00008B;
}

#history-button {
    width: 100%;
    margin-right: auto;
    margin-left: -20px;
    font-size: 1em;
    display: block;
    width: 100%;
    border-radius: 10px;
    color: white;
    background-color: #00008B;
}


#search-button:hover{
    font-size: 21px;
    color:#CB6D51;
    border: #CB6D51;
}

/* puts line under search bar */
#line {
    border: 1px solid black;
    width: 100%;
    margin-top:  20px;
}

/* output */
/* forecast top */

.output {
    /* border: 1px solid ; */
    display: flex;
    flex-direction: column;
    padding:20px;
    width: 43%;
    align-items: center;
}

.city-output {
    border: 1px solid ;
    display: flex;
    flex-direction: column;
    padding:20px;
    width: 90%;
    align-items: center;
}

/* uv box */
#uv-box {
    background-color: none;
    width: 30px;
    height: 30px;
    /* border: solid; */
    border: .5px solid black;
    border-radius: 5px;
}

/* 5 day blocks */

#day-forecast {
    text-align: center;
}

.day-blocks{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* block class */
.blocks {
    border: solid;
    margin: 2%;
    background: linear-gradient(to right,  lightblue, rgb(1, 1, 143), #00008B  );
    color: white;
    padding: 5px;
}

